.action-button-text {
  font-size:0 !important;
}
.action-button-text:before {
  content:"Skrubskribe";
  font-size:12px;
}
.headerTitle {
  font-size:0 !important;
}
.headerTitle:before {
  color:red;
  content:"LOL!!";
  font-size:75px;
}
.user-thumb-xlarge {
  background-color: black;
  background-image: url(https://raw.githubusercontent.com/bromomento-tech/bruh/master/bruh.jpg);
  background-size: cover;
}
.user-thumb-xlarge > img, .flaggingText {
  display:none !important;
}
