.action-button-text {
  font-size:0 !important;
}
.action-button-text:before {
  content:"Skrubskribe";
  font-size:12px;
}
.headerTitle {
  font-size:0 !important;
}
.headerTitle:before {
  color:red;
  content:"LOL!!";
  font-size:30px;
}
